body {
  margin: 0;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo{
  text-align: center;
}

.listaaniversario{
  display: flex;
  justify-content: center;
  align-items: center;
}

.meses{
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.meses > hr{
  padding: 0;
  margin: 0;
}

.container {
  padding: 20px;
  grid-area: 'mes';
}

.container h1 {
  padding: 0;
  margin: 0;
}

.container > .lista{
  list-style: none;
}

.container > ul > li {
  margin: 0;
  padding: 0;
}