body {
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo{
  text-align: center;
}

.listaaniversario{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
}

.container h1 {
  padding: 0;
  margin: 0;
}

.container > .lista{
  list-style: none;
}

.container > ul > li {
  margin: 0;
  padding: 0;
}